{% extends 'base.html' %}

{% block ext_css %}
    <link rel="stylesheet" href="/static/css/fans_list.css">
{% endblock %}

{% block content %}
    <div class="father">
        <p class="my_fans_n">我当前共拥有粉丝：{{ user.n_fans }}个</p>
        {% for fans in fans_list %}
            <div class="media">
                <div class="media-left">
                    <a href="/user/fans_info/?fans_id={{ fans.id }}">
                        <img class="media-object u_icon" src="/static/upload/img/{{ user.head }}" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <p class="fans_name">{{ fans.name }}</p>
                    <table>
                        <tr>
                            <td>性别：{{ fans.gender }}</td>
                            <td>粉丝数量：{{ fans.n_fans }}</td>
                        </tr>
                        <tr>
                            <td>生日：{{ fans.birthday }}</td>
                            <td>所在城市：{{ fans.city }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}