<!-- author:Sole_idol -->
<!-- filename: main_my.html -->
<!-- datetime:2020/8/22 10:51 -->

{% extends 'base.html' %}

{% block ext_css %}
    <style>

        .info {
            {#height: 80px;#}
            width: 40%;
            margin: auto;
            float: top;

        }

    </style>
{% endblock %}

{% block alter %}
    <div class="info">
        {% for info in get_flashed_messages() %}
            <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span>
                </button>
                {{ info }}
            </div>
        {% endfor %}
    </div>
{% endblock %}