<!-- author:Sole_idol -->
<!-- filename: register.html -->
<!-- datetime:2020/8/22 10:50 -->

{% extends 'base.html' %}
{% block ext_css %}
    <style>
        .form_div {
            border-right: 1px solid #dddddd;
        }

        .form {
            padding: 20px 60px 70px;
        }

        .hy {
            font-size: 40px;
            font-family: 华文行楷;
            font-weight: 500;
            text-align: center;
            margin-top: 36px;
        }

        .bg {
            width: 100%;
            margin: 50px auto;
        }

    </style>
{% endblock %}
{% block alter %}
    <div class="info">
        {% for info in get_flashed_messages() %}
            <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span>
                </button>
                {{ info }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block nav_son2 %}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/user/login/">登录</a></li>
        <li><a href="/user/register/">注册</a></li>
    </ul>
{% endblock %}

{% block container %}
    <div class="row container">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <img src="../../static/img/bg02.jpg" class="bg" alt="">
        </div>

        <div class="col-md-5 form_div">
            <h1 class="hy">欢迎注册</h1>
            <form action="/user/register/" method="post" class="form">
                <div class="form-group">
                    <label for="exampleInputEmail1">用户名</label>
                    <input type="text" name="u_name" class="form-control" id="exampleInputEmail1" placeholder="请输入用户名">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">密码</label>
                    <input type="password" name="password" class="form-control" id="exampleInputPassword1"
                           placeholder="请输入密码">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">确认密码</label>
                    <input type="password" name="re_password" class="form-control" id="exampleInputPassword1"
                           placeholder="请再次输入密码">
                </div>

                <button type="submit" class="btn btn-default">注册</button>
                <button type="reset" class="btn btn-default">重置</button>
            </form>
        </div>
        <div class="col-md-1"></div>
    </div>

{% endblock %}

