
.u_icon {
    width: 60px;
    height: 60px;
    padding: 3px;
    border: 1px outset #ccc;
    border-radius: 4px;
    margin: 10px;
}

.father {
    padding: 10px 80px;
}

.my_fans_n {
    font-size: 30px;
    line-height: 80px;
    border-bottom: 1px solid #666666;
    padding: 20px;
}

.media {
    margin: 0 10px;
    border-bottom: 1px solid #aaaaaa;
    padding: 5px 30px;
}

.fans_name {
    font-size: 22px;
}

td {
    width: 200px;
    color: #333333;
    padding-left: 18px;
}
