<!-- author:Sole_idol -->
<!-- filename: index.html -->
<!-- datetime:2020/8/22 10:55 -->
{% extends 'base.html' %}

{% block ext_css %}
    <style>


        .head_icon {
            width: 36px;
            border: 1px outset gray;
            border-radius: 4px;
        }

        .father {
            padding: 20px 30px;
        }

        .son {
            padding: 10px;
        }

        .weibo_content {
            padding: 5px 36px;
        }
    </style>
{% endblock %}

{% block nav_son1 %}
    <ul class="nav navbar-nav">
        <li class="active"><a href="/">首页</a></li>
        <li><a href="#">视频</a></li>
        <li><a href="#">发现</a></li>
        <li><a href="#">游戏</a></li>
        <li><a href="#">同城</a></li>
    </ul>
    <form action="#" class="navbar-form navbar-left">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="搜索">
        </div>
        <button type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
    </form>
{% endblock %}

{% block nav_son2 %}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/user/login/">登录</a></li>
        <li><a href="/user/register/">注册</a></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="father">
        {% for wuser in weibo_user %}
            <div class="son">
                <div class="user">
                    <img src="/static/upload/img/{{ wuser.User.head }}" class="head_icon" alt="无头像">
                    <span class="username">{{ wuser.User.name }}</span>
                    <span class="uptime">{{ wuser.Weibo.up_time }}</span>
                </div>
                <div class="weibo_content">
                    {{ wuser.Weibo.title }}
                    <br>
                    {{ wuser.Weibo.content }}
                    <hr>
                    <div class="talk">
                        评论区
                    </div>
                </div>

            </div>
        {% endfor %}
    </div>
{% endblock %}